.header {
    --tw-bg-opacity: 1;
  
    transition-duration: .15s;
    background-color: rgb(255 247 229);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 100%;
  }
  
  .header-left nav,
  .header-right {
    display: flex;
    gap: 15px;
  }
  
  .header-left nav a,
  .header-right a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
 
  .nav_link {
    color: #1b330a;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    padding: 0;
    text-decoration-line: none;
}


  
  .header-center .logo img {
    max-height: 50px; /* Adjust based on your logo size */
  }